# ignore env
visual_env/

# ignore pychache, ipynb
__pycache__/
.ipynb_checkpoints/

# ignore html files
*.html

# any data within a storage directory
storage/

# ignore ?random file? - no idea what it does
.DS_Store